.modal {
    height: 200px;
    width: 200px;
    background-color: transparent;
    top: 100px;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}
.modal.active {
    opacity: 1;
    pointer-events: all;
    background-color: transparent;
    display: block;
}
.modal-content {
    padding: 20px;
    border-radius: 12px;
    background-color: transparent;
    width: 50%;
    z-index: 9999;

}