.container {
    display: grid;
    width: 100%;
    height: 80vh;
    grid-template-areas:"content-1 content-2"
                        "content-3 content-4";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 0.50fr 0.50fr;
    gap: 10px;
    padding: 30px;
    justify-self: flex-end;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}
.content-1 {
    grid-area: content-1;
    background-color: #F57838;
    display: grid;
    grid-auto-flow: column;
    align-items: flex-end;
    justify-items: center;
    gap: 10px;
    place-items: center;
    border-radius: 10px;
}
.content-2 {
    grid-area: content-2;
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    place-items: center;
}
.content-3 {
    grid-area: content-3;
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    place-items: center;
}
.content-4 {
    display: grid;
    grid-auto-flow: row;
    grid-area: content-4;
    gap: 10px;
    place-items: center;
}
.sidebar {
    background-color: chartreuse;
    display: grid;
    grid-area: sidebar;
    grid-auto-flow: column;

    justify-content: center;
}
.footer {
    background-color: darkcyan;
    grid-area: footer;
}
a {
    text-decoration: none;
    color: black;
}
a:hover{
    color: dodgerblue;
    text-decoration: none;
}
li:not(.logo) {
    list-style: none;
    padding: 20px;
    font-size: large;
}
h1 {
    padding: 20px;
}
.logo{
    margin-top: 20px;
    height: 35px;
    padding-left: 20px;
    margin-right: auto;
}
.icons {
    height: 25px;
}
.inp {
    justify-self: center;
    align-self: center;
    font-family:Arial, FontAwesome;
    margin-top: 30px;
    border-radius: 5px;
    size: 50px;
    border-color: transparent;
}
.nav-area{
    margin-top: 10px;
    display: inline-flex;
    list-style: none;
    margin-right: auto;
    align-content: flex-start;
    justify-self: flex-end;
}
.hero_block {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: grid;
    grid-template-areas:"hero_title"
                        "hero_img_block";
}
.shop_block {
    display: grid;
    grid-template-areas: "shop_title"
                        "shop_img_block" ;
    background-color: #F57838;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.news_block {
    display: grid;
    grid-template-areas: "news_title"
                        "news_img_block" ;
    background-color: #F57838;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.rate_block {
    display: grid;
    grid-template-areas: "rate_title"
                        "rate_img_block" ;
    width: 100%;
    height: 100%;
    background-color: #e3e0e0;
    border-radius: 10px;
    padding: 10px;
}
.calendar_block {
     display: grid;
    grid-template-areas: "calendar_title"
                        "calendar_img_block" ;
    width: 100%;
    height: 100%;
     background-color: #e3e0e0;
    border-radius: 10px;
    padding: 10px;
}
.chat_block {
     display: grid;
    grid-template-areas: "chat_title"
                        "chat_img_block" ;
     background-color: #e3e0e0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.rules_block {
    grid-template-areas: "rules_title"
                        "rules_img_block" ;
     background-color: #e3e0e0;
    border-radius: 10px;
    display: grid;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.hero_title {
    grid-area: hero_title;
}
.hero_img_block {
    grid-area: hero_img_block;
    justify-self: flex-start;
    align-self: flex-end;
}
.shop_img_block {
    grid-area: shop_img_block;
    justify-self: flex-start;
    align-self: flex-end;
}
.news_img_block {
    grid-area: news_img_block;
    justify-self: flex-start;
    align-self: flex-end;
}
.rate_img_block {
    grid-area: news_img_block;
    justify-self: flex-start;
    align-self: flex-end;
}
.calendar_img_block {
    grid-area: news_img_block;
    justify-self: flex-start;
    align-self: flex-end;
}