.container {
    display: grid;
    width: 100%;
    height: 60vh;
    grid-template-areas: "header header"
                       "content-1 content-2"
                        "content-3 content-4";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 0.50fr 0.50fr;
    gap: 10px;
    padding: 20px;
}
.header {
    width: 100%;
    background-color: orange;
    grid-area: header;
    justify-content: space-between;
    display: flex;
    padding-bottom: 10px;
    flex-direction: row;
    flex-flow: nowrap;
}
.content-1 {
    grid-area: content-1;
    background-color: #F57838;
    display: grid;
    grid-auto-flow: column;
    align-items: flex-end;
    justify-items: center;
    gap: 10px;
    place-items: center;
    border-radius: 10px;
}
.content-2 {
    grid-area: content-2;
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    place-items: center;
}
.content-3 {
    background-color: darkorchid;
    grid-area: content-3;
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    place-items: center;
}
.content-4 {
    background-color: hotpink;
    display: grid;
    grid-auto-flow: row;
    grid-area: content-4;
    gap: 10px;
    place-items: center;
}
.sidebar {
    background-color: chartreuse;
    display: grid;
    grid-area: sidebar;
    grid-auto-flow: column;

    justify-content: center;
}
.footer {
    background-color: darkcyan;
    grid-area: footer;
}
a {
    text-decoration: none;
    color: black;
}
a:hover{
    color: dodgerblue;
    text-decoration: none;
}
li:not(.logo) {
    list-style: none;
    padding: 20px;
    font-size: large;
}
h1 {
    padding: 20px;
}
.logo{
    margin-top: 20px;
    height: 35px;
    padding-left: 20px;
    margin-right: auto;
}
.icons {
    height: 25px;
}
.inp {
    justify-self: center;
    align-self: center;
    font-family:Arial, FontAwesome;
    margin-top: 30px;
    border-radius: 5px;
    size: 50px;
    border-color: transparent;
}
.nav-area{
    margin-top: 10px;
    display: inline-flex;
    list-style: none;
    margin-right: auto;
    align-content: flex-start;
    justify-self: flex-end;
}
.hero_block {
    background-color: #ffffff;
    border-radius: 10px;
}
.shop_block {
    background-color: #F57838;
    border-radius: 10px;
}
.news_block {
    background-color: #F57838;
    border-radius: 10px;
}