/*body {*/
/*    background: rgb(0, 15, 255);*/
/*    background: linear-gradient(90deg, rgba(143,40,127,1) 7%, rgba(254,130,28,1) 97%);*/
/*    !*background: rgb(230,104,1);*!*/
/*    !*background: radial-gradient(circle, rgba(230,104,1,1) 0%, rgba(160,160,160,1) 100%);*!*/
/*}*/
.wrapper_main {
    height: 100vh;
    width: 100vw;
}
.content-1 {
    grid-area: content-1;
    display: grid;
    grid-auto-flow: column;
    background-color: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 15px;
    backdrop-filter: blur(30px);
}
.content-2 {
    grid-area: content-2;
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}
.content-3 {
    grid-area: content-3;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.content-4 {
    display: flex;
    flex-direction: row;
    grid-area: content-4;
    gap: 10px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover{
    color: dodgerblue;
    text-decoration: none;
}
li:not(.logo) {
    list-style: none;
    padding: 20px;
    font-size: large;
}
h1 {
    padding: 20px;
}
.hero_block {
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.shop_block {
   display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 15px;
    padding: 10px;
    backdrop-filter: blur(30px);
    /*grid-template-rows: 0.5fr 0.5fr;*/
}
.news_block {
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 15px;
    padding: 10px;
    backdrop-filter: blur(30px);
}
.rate_block {
   display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 15px;
    padding: 10px;
    backdrop-filter: blur(30px);
}
.calendar_block {
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    border-radius: 15px;
    padding: 10px;
}
.chat_block {
     display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    border-radius: 15px;
    padding: 10px;
}
.rules_block {
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    border-radius: 15px;
    padding: 10px;
}
/*.hero_title {*/
/*    grid-area: hero_title;*/
/*    margin: 0;*/
/*}*/
/*.shop_title {*/
/*    grid-area: shop_title;*/
/*}*/
/*.news_title {*/
/*    grid-area: news_title;*/
/*}*/
/*.rate_title {*/
/*    grid-area: rate_title;*/
/*}*/
/*.calendar_title {*/
/*    grid-area: calendar_title;*/
/*}*/
/*.chat_title {*/
/*    grid-area: chat_title;*/
/*}*/
/*.rules_title {*/
/*    grid-area: rules_title;*/
/*}*/
.hero_img_block {
    justify-self: flex-start;
    align-self: flex-end;
}
.shop_img_block {
    justify-self: flex-start;
    align-self: center;
}
.news_img_block {
    justify-self: flex-start;
    align-self: center;
}
.rate_img_block {
    justify-self: flex-end;
    align-self: center;
}
.calendar_img_block {
    justify-self: flex-start;
    align-self: center;
}
.chat_img_block {
    justify-self: flex-start;
    align-self: center;
}
.rules_img_block {
    justify-self: flex-end;
    align-self: center;
}
.category_img {
   width: 100%;
}
@media screen and (min-width: 324px){
    .wrapper_main {
        background-image: url("../../images/tmk-background-tablet.png");

    }
    .container {
    margin: 0 40px;
          }
}
@media screen and (min-width: 760px){
    .wrapper_main {
        background-image: url("../../images/tmk-background-desktop.png");

    }
 .container {
     margin: 0 80px 80px 80px;
 }
}
@media screen and (min-width: 1300px){
    .wrapper_main {
        background-image: url("../../images/tmk-background-extra-large.png");

    }
 .container {
     margin: 0 200px 200px 200px;
 }
}
@media screen and (min-width: 1600px){
    .wrapper_main {
        background-image: url("../../images/tmk-background-enormous.png");
    }
     .container {
         margin: 0 100px 100px 100px;
     }

}